<% title="HamSuite: About" %>

<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head'); %>

  <body class="container">
    <h3>Select options, radios, contests, and other things.</h3>
    <div class="row">
      <div class="col-lg">
        <% for ( keya in stationSettings) { let vala = stationSettings[keya]; if
        (vala.list) { %>

        <div class="padding mt-2">
          <%=vala.title%>

          <select class="form-select" aria-label="<%=vala.title %>">
            <% for (const selection of vala.list ) {

            <option value="<%" ="selection.name%">> <%=selection.name%></option>

            <% } %>
          </select>
        </div>
        <%}}%>
      </div>
    </div>

    <%- include('partials/footer'); %>
  </body>
</html>
